body{
	font-family: Consolas, monaco, monospace;
}



nav{
	background: gray;
	float: left;
	width: 10em;
	height: 35em;
}

nav ul{
	margin: 2px 0 0 0;
	padding: 0;
	display: block;
}

nav li{
	display: block;
	list-style: none;

}

nav a{
	transition: border 0.1s, background 0.3s, color 1s;
	margin: 0 2px;
	padding: 0.5em 0;
	display: block;
	text-decoration: none;
	color: inherit;
	background: #AAA;
	border: 2px solid gray;
	text-transform: uppercase;
	font-size: 1em;
}

nav a:hover{
	border: 2px solid black;
}

nav a.active-link{
	background: #EB7;
	color: #046;
}

nav a img{
	visibility: hidden;
	width: 25px;
	height: 16px;
}

nav a.active-link img{
	visibility: visible;
}


.tab{
	float: left;
	padding: 0 2em 0 2em;
	background: #FD9;
	height: 35em;
	width: 45em;
}

.tab > iframe{
	margin-top: 2em;
}

.tab:not(.active-tab){
	visibility: hidden;
	height: 0;
}


#chatbot-output{
	font-size: 0.75em;
}

#chatbot-demo-section{
	margin-top: 1em;
	float:left;
	width: 44%;
	display: inline-block;
}

#chatbot-description-section{
	margin-top: 1em;
	float:left;
	width: 54%;
	display: inline-block;
}