body{
	font-family: Consolas, monaco, monospace;
}



nav{
	background: gray;
	float: left;
	width: 11em;
	height: 35em;
}

nav ul{
	margin: 2px 0 0 0;
	padding: 0;
	display: block;
}

nav li{
	display: block;
	list-style: none;

}

nav a{
	transition: border 0.1s, background 0.3s, color 1s;
	margin: 0 2px;
	padding: 0.5em 0;
	display: block;
	text-decoration: none;
	color: inherit;
	background: #AAA;
	border: 2px solid gray;
	text-transform: uppercase;
	font-size: 1em;
}

nav a:hover{
	border: 2px solid black;
}

nav a.active-link{
	background: #EB7;
	color: #046;
}

nav a .selected-tab-icon{
	visibility: hidden;
	width: 25px;
	height: 16px;
}

nav a.active-link .selected-tab-icon{
	visibility: visible;
}

nav .demo-icon{
	width: 2.5em;
}


.tab{
	float: left;
	padding: 0 0em 0 0em;
	background: #FD9;
	height: 35em;
	width: calc(100% - 11em);
	overflow-y: scroll;
}

.active-tab .column{
	float: left;
	display: inline-block;
	
}

.active-tab .column:nth-child(even){
	width: 82%;
}

.active-tab .column:nth-child(odd){
	padding-top: 30%;
	padding-left: 0.7em;
	width: 5%;
}

.active-tab > iframe{
	margin-top: 2em;

}

.tab:not(.active-tab){
	visibility: hidden;
	height: 0;
}

.tab:not(.active-tab) * {
	visibility: hidden;
	height: 0;
	padding: 0;

}

.arrow-icon{
	width: 2em;
	border-radius: 1em;
	transition: background 0.2s;
}

.arrow-icon:hover{
	cursor: pointer;
	background: #BBD;
}





#chatbot-output{
	font-size: 0.75em;
}

#chatbot-demo-section{
	margin-top: 1em;
	float:left;
	width: 52%;
	display: inline-block;
}

#chatbot-description-section{
	margin-top: 1em;
	float:left;
	width: 46%;
	display: inline-block;
}



#genetics-img{
	display: inline-block;
}

#genetics-abstract{
	width: 40%;
	display: inline-block;
	font-family: Georgia, serif;
	font-style: italic;
	vertical-align: top
}

#pong-canvas{
	margin-top: 2em;
	background: #000;
	border: 2px solid #55F;
}