<div id="chatbot-demo-section">
	<div id="chatbot-input-section">
		<label>
			Input:
			<input type="text" id="chatbot-input"></input>
		</label>
		<button id="send-chatbot-input">Go!</button>
	</div>
	<div id="chatbot-output"></div>
</div>

<div id="chatbot-description-section">
	<p> This is a demonstration of a chatbot program written in Prolog. Currently there is no handling of sessions or state in the server, so the program doesn't remember earlier sentences. </p>
	<p> The vocabulary is limited, so here is a list of words that can be used safely: dog, cat, human, park, school, fur, peter, lisa, johny, cute, little, brown, loud, do, have, who, what, where, when, how. </p>
	<p> example sentence: "johny met a dog" </p>
	<p> Source code for the chatbot can be found <a href="https://github.com/JonathanMurray/nlp"> here on github </a>
	</p>
</div>		