<p> 
	A Machine Learning project, done in Python, that uses genetic algorithms to develop control algorithms for elevators. This was my Bachelor's project, together with Daniel Molin. 
</p>


	<ul>
		<li> <a href="https://github.com/JonathanMurray/geneticElevators" target="_blank">Code on github</a> </li>
		<li> <a href="http://www.csc.kth.se/utbildning/kth/kurser/DD143X/dkand13/Group3Johan/final/molin.murray.final.report.pdf" target="_blank"> Project report (swedish)</a> </li>
	</ul>

<div>
	<div id="genetics-img">
		<img src="static/geneticElevators.png"></img>
	</div>
	<div id="genetics-abstract">
		<p> "Genetic algorithms, based on the concept of biological evolution, have historically been used to solve complex problems with huge solution spaces. </p>
		<p> In this paper, we describe how we implement a genetic algorithm and an elevator simulation model, and examine the possibilities to use the genetic algorithm to crate a well functioning elevator control system. </p>
		<p> Despite our failure to come up with a satisfying control system, we find a lot of potential to solve this kind of problems with genetic algorithms and describe a possible process for doing this." </p>
	</div>
</div>