<!doctype html>
<html>
	<head>
		<script>
			TABS = [];
			{% for tab in tabs %}
				TABS.push( "{{tab.name}}" );
			{% endfor %}
		</script>
		<link rel="icon" href="static/favicon.ico">
		<link rel=stylesheet type=text/css href="static/style.css"> 
		<script src="static/jquery-2.1.1.js"> </script>
		<script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
		<script src="static/pong.js"></script>
		<script src="static/layout.js"> </script>
		<title> 
			Portfolio
		</title>
	</head>

	<body>
		<nav>
			<ul>
				{% for tab in tabs %}
					<li> 
						<a href="#{{tab.name}}"> 
							<img src="static/coin.gif" class="selected-tab-icon"> {{tab.link_text}} 
							{% if "demo" in tab and tab.demo %}
								<img src="static/demo.png" class="demo-icon">
							{% endif %}
						</a> 
					</li>
				{% endfor %}
			</ul>
		</nav>

		<div>  
			{% for tab in tabs %}
				<div id="{{tab.name}}-tab" class="tab">
					<div class="column">
						<a class="left-arrow-link"> <img src="static/leftArrow.ico" class="arrow-icon"> </a>
					</div>
					<div class="column"> 
						{% include tab.name + ".html" %} 
					</div>
					<div class="column"> 
						<a class="right-arrow-link"> <img src="static/rightArrow.ico" class="arrow-icon"> </a>
					</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>