<!doctype html>
<html>
	<head>
		<script>
			TABS = [];
			{% for tab in tabs %}
				TABS.push( "{{tab.name}}" );
			{% endfor %}
		</script>
		<link rel="icon" href="static/favicon.ico">
		<link rel=stylesheet type=text/css href="static/style.css"> 
		<script src="static/jquery-2.1.1.js"> </script>
		<script src="static/layout.js"> </script>
		<title> 
			Portfolio
		</title>
	</head>

	<body>
		<nav>
			<ul>
				{% for tab in tabs %}
					<li> <a href="#{{tab.name}}"> <img src="static/coin.gif"> {{tab.link_text}} </a> </li>
				{% endfor %}
			</ul>
		</nav>

		<div>  
			{% for tab in tabs %}
				<div id="{{tab.name}}-tab" class="tab"> {% include tab.name + ".html" %} </div>
			{% endfor %}
		</div>
	</body>
</html>